html, body{
justify-content: center;
align-items: center;
text-align: center;
background: #ffe16e;   
}
body {
margin: 0;
font-family: "Comic Sans MS", "Comic Sans", cursive;
font-size: 18px;
}
/*Styling header*/

.navbar, .nameGame {
font-size: 3rem;
justify-content: center;
}

/*Styling menu*/

.btn-primary {
    margin: 5px 5px 5px 5px;
    padding: 0.375rem 1.75rem;
    font-size: 2rem;
    border-radius: 1.25rem;
    background-color: #6E64F0;
    border-color: #6E64F0;
}
.btn-primary:hover, .btn-level:hover, .btn-secondary:hover {
    background-color: #3139bc;
    border-color: #3139bc;
}
.modal-content {
    background-color: #ffe16e;
    border-radius: 1.3rem;
}
h5 {
    font-size: 1.75rem;
}
.modal-body {
    margin: auto;
    padding-top: 0px;
    min-height: 300px;
}
.btn-close {
    color: #3139bc;
}
.btn-close:hover {
    color: #6E64F0;
}
.btn-level, .btn-restart, .btn-secondary {
  margin: 20px 5px 5px 5px;
    padding: 0.375rem 1.75rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    background-color: #6E64F0;
    border-color: #6E64F0;
    color: white; 
}
.btn-secondary{
    font-size: 1rem;
    border-radius: 1rem;
}

/*Styling game window*/

.info-window {
margin: 5px;
    padding: 0.375rem 1.75rem;
    font-size: 1.5rem;
     border: 2px solid #6e64f0;
    border-radius: 1.25rem;
    background-color: #ffff9f;
    color: black;
}


/*Styling game cards*/

.front-side.card-side {
    display: none;
}
.card-side {
    display: inline-block;
}

.card {
    background-color: #ffe16e;
    border: #ffe16e; 
}
img {
 border: 1px solid rgba(0,0,0,.2);
 border-radius: 1.3rem;
 max-width: 100%;
}

/*Styling modal windows*/
.modal-header{
    padding: 0px;
    border-bottom: 0px;
}

.modal-header .btn-close {
    padding: 0.5rem 1rem;
    margin: 0.2rem -.2rem 0rem auto;
}

.modal-footer{
    padding: 0 6px 6px 6px;
    border-top: 0px;
}

.result-style{
    background:#ffff9f;
}

.game-end-modal-header{
    padding: 10px;
    margin: auto;
}

